#
# Development requirements
#

pip>=9
invoke==1.3.0
#rituals==0.3.0
-e git+https://github.com/jhermann/rituals.git#egg=rituals

Sphinx==2.2.1
sphinx-autobuild==0.7.1
sphinx-rtd-theme==0.2.4

pylint==2.4.4
bpython==0.18
yolk3k==0.9
pip-upgrader==1.4.15

tox==3.14.1
twine==1.15.0

-r test-requirements.txt
-r requirements.txt
-e .
