#
# Development requirements
#

pip>=9
invoke==0.19.0
#rituals==0.3.0
-e git+https://github.com/jhermann/rituals.git#egg=rituals

Sphinx==1.8.2
sphinx-autobuild==0.7.1
sphinx-rtd-theme==0.2.4
docutils<0.13.1

pylint==1.7.1
bpython==0.17.1
yolk3k==0.9
pip-upgrader==1.4.6

tox==3.5.3
twine==1.12.1

-r test-requirements.txt
-r requirements.txt
-e .
