#
# Test requirements
#

pytest==5.2.2
pytest-reqs==0.2.1
https://github.com/jhermann/pytest-spec/archive/fix-hook-config.zip#egg=pytest-spec
#pytest-spec==1.1.0
pytest-cov==2.8.1
py>=1.4.29
coveralls==1.8.2
sh==1.12.14
